{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/logs/{{log.id}}?_method=PUT" method="POST">

        <h2>
            {{ log.movieTitle }} 

        </h2>
           <img src="{{ log.poster}}" alt="a poster for the movie {{log.movieTitle}}">
           {{ log.releaseYear }}
        <fieldset>
                            <input
                        type="text"
                        name="logText"
                        placeholder="Enter a comment..."
                        class="form-control input-lg"
                        class="logText"
                        style="height: 15rem;"
            {%for item in log.comment%}
                value="{{item.note}}"
            {%endfor%}
                        >
                    <input 
                        class="hidden"
                        name="releaseYear"
                        value="{{log.releaseYear}}"  
                        >
                    <input
                        class="hidden"
                        name="movieTitle"
                        value="{{log.movieTitle}}"
                        >
                    <input
                        class="hidden"
                        name="imdbId"
                        value="{{log.imdbId}}"
                        >
                    <input
                        class="hidden"
                        name="dateLogged"
                        value="{{log.dateLogged}}"
                        >
                    <input
                        class="hidden"
                        name="poster"
                        value="{{log.poster}}"
                        >
                                </fieldset>
        <input type="submit" value="Edit Example" class="btn btn-success">
    </form>
</div>
{% endblock %}