{% layout 'layout.liquid' %}
{% block content %}
<br>
<div class="container-sm">
    <form action="/logs/{{log.id}}?_method=PUT" method="POST">

            <div class="card sm-3" style="max-width: 60rem;">
        <div class="row no-gutters">
            
            <div class="col-md-4" >
                <img src="{{ log.poster}}" alt="a poster for the movie {{log.movieTitle}}" class="review-pic">
            </div>
            <div class="col-md-8">
            <div class="card-body" id="movie-info-show">

                <h2 class="card-title">{{ log.movieTitle }}<h5>Directed by {{log.director}}</h5> <h6>{{ log.releaseYear }}</h6></h2>
                <p class="card-text">{{log.plot}}</p>

            </div>
        <fieldset>
                        <div class="input-group-prepend">
                            <span class="input-group-text">Review</span>
                        </div>
                    <textarea name="userThoughts" class="form-control" aria-label="With textarea">{{log.userThoughts}}</textarea>
                    <input 
                        class="hidden"
                        name="releaseYear"
                        value="{{log.releaseYear}}"  
                        >
                    <input
                        class="hidden"
                        name="movieTitle"
                        value="{{log.movieTitle}}"
                        >
                    <input
                        class="hidden"
                        name="imdbId"
                        value="{{log.imdbId}}"
                        >
                    <input
                        class="hidden"
                        name="dateLogged"
                        value="{{log.dateLogged}}"
                        >
                    <input
                        class="hidden"
                        name="poster"
                        value="{{log.poster}}"
                        >
                                </fieldset>
        <input type="submit" value="Edit {{log.movieTitle}} Review" class="btn btn-success">
    </form>
</div>
{% endblock %}