{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/logs/{{log.id}}?_method=PUT" method="POST">

        <h2>
            {{ log.movieTitle }} 

        </h2>
           <img src="{{ log.poster}}" alt="a poster for the movie {{log.movieTitle}}">
           {{ log.releaseYear }}
        <fieldset>
                        <div class="input-group-prepend">
                            <span class="input-group-text">Review</span>
                        </div>
                    <textarea name="userThoughts" class="form-control" aria-label="With textarea">{{log.userThoughts}}</textarea>
                    <input 
                        class="hidden"
                        name="releaseYear"
                        value="{{log.releaseYear}}"  
                        >
                    <input
                        class="hidden"
                        name="movieTitle"
                        value="{{log.movieTitle}}"
                        >
                    <input
                        class="hidden"
                        name="imdbId"
                        value="{{log.imdbId}}"
                        >
                    <input
                        class="hidden"
                        name="dateLogged"
                        value="{{log.dateLogged}}"
                        >
                    <input
                        class="hidden"
                        name="poster"
                        value="{{log.poster}}"
                        >
                                </fieldset>
        <input type="submit" value="Edit {{log.movieTitle}} Review" class="btn btn-success">
    </form>
</div>
{% endblock %}