{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Logs</h2>
    <div class="row">
        {% for log in logs %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ log.movieTitle }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    {%- comment -%} Ready?: {{ example.ready }} {%- endcomment -%}
                </h5>
                <img src="{{log.poster}}" width="300" height="446">
                <p class="card-text">
                    {%- comment -%} Body: {{ example.body }} {%- endcomment -%}
                </p>
                <p class="card-text">
                    {%- comment -%} Amount: {{ example.amount }} {%- endcomment -%}
                </p>
                <a href="/logs/{{ log.id }}" class="btn btn-info">
                    View {{ log.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}