{% layout 'layout.liquid'%}
{% block content %}
<div class="index-page">

    {%if%}
    {{log.author == userId}}
        <h2 class="display-6">{{log.author}}'s Logs</h2>
    {%else%}
    <h2 class="display-6">All Logs</h2>


    {%endif%}

    <div class="row">
        {% for log in logs %}
        <div class="card" style="width: 350px;">
            <h5 class="card-header">{{ log.movieTitle }}</h5>
            <div class="card-body">

                <img src="{{log.poster}}" width="250px" height="372px" class="view-all-card">
                <p class="card-text">
                    {{log.author}}
                </p>
                <a href="/logs/{{ log.id }}" class="btn btn-info">
                    View {{ log.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}