{% layout 'layout.liquid'%}
{% block content %}
<div class="index-page">

    {%if%}
    {{session.userId == log.author}}
        <h2 class="display-6">{{username}}'s Logs</h2>
    {%else%}
    <div id="logger-welcome-icon">
        <img src={{"../imgs/movieloggericon.png"}} id="logger-welcome-icon">

    </div>



    {%endif%}
    <div class="all-cards">

    <div class="row">
        {% for log in logs reversed %}
        <div class="card" style="width: 350px;">
            <h5 class="card-header">{{ log.movieTitle }}</h5>
            <div class="card-body">

                <img src="{{log.poster}}" width="250px" height="372px" class="view-all-card">
                <p class="card-text">
                    Reviewd by {{log.author.username}}
                </p>
                <a href="/logs/{{ log.id }}" class="btn btn-info">
                    View Review
                </a>
                <a href="/trailers/{{log.id}}" class="btn btn-info">View Trailer</a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}