{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form id="seach-box" action="/logs/new/result" method="POST" class="input-group">
            <legend>Search for movie</legend>

            <input
 
                type="text" 
                name="title" 
                placeholder=" Enter a movie title"
                class="search-box"
            >

        <input type="submit" value="Search" class="btn btn-success">
        </form>
        {% if movie.title == null %}
            
        {%else%}  
        <div class="card" class="movie-info" style="width: 30rem">
            
            <img src="{{movie.poster}}" width="300" height="446" id="result-poster">
            <h1 class="card-title">{{movie.title}}</h1>
            <h6 class="card-title mb2">Directed by {{movie.director}}</h6>
            <h6 class="card-title mb2"> {{movie.runtime}}</h6>
            <p id="plot">{{movie.plot}}</p>
            <h8 class="card-title mb2">{{movie.genre}}</h8>
            
            <form action="/logs" method="POST">
                <legend>Add comment and log</legend>
                        <div class="input-group-prepend">
                            <span class="input-group-text">Review</span>
                        </div>
                    <textarea id="review-box" name="userThoughts" class="form-control" aria-label="With textarea"></textarea>
                    <input 
                        class="hidden"
                        name="releaseYear"
                        value="{{movie.year}}"  
                        >
                    <input
                        class="hidden"
                        name="movieTitle"
                        value="{{movie.title}}"
                        >
                    <input
                        class="hidden"
                        name="imdbId"
                        value="{{movie.imdbId}}"
                        >
                    <input
                        class="hidden"
                        name="dateLogged"
                        value="{{ "now" | date: "%Y-%m-%d" }}"
                        >
                    <input
                        class="hidden"
                        name="poster"
                        value="{{movie.poster}}"
                        >
                    <input
                        class="hidden"
                        name="plot"
                        value="{{movie.plot}}"
                        >
                    <input
                        class="hidden"
                        name="director"
                        value="{{movie.director}}"
                        >
                    <input
                        class="hidden"
                        name="genre"
                        value="{{movie.genre}}"
                        >                        
                <input type="submit" value="Add to log" class="btn btn-success">
            </form>
        </div>  
        {% endif %}
        
</div>
{% endblock %}