{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/logs/new/result" method="POST">
        <fieldset>
            <legend>Search for movie</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter a movie title"
                class="form-control"
            >

        </fieldset>
        <input type="submit" value="Search" class="btn btn-success">
            {%- comment -%} <h6>Search for a movie</h6> {%- endcomment -%}
        </form>
        {% if movie.title == null %}
            
        {%else%}  
        <div class="card" class="movie-info" style="width: 30rem">
            
            <img src="{{movie.poster}}" width="300" height="446">
            <h1 class="card-title">{{movie.title}}</h1>
            <h6 class="card-title mb2 text-muted">Directed by {{movie.director}}</h6>
            <h6 class="card-title mb2 text-muted"> {{movie.runtime}}</h6>
            <h4></h4>
            

            <p>{{movie.plot}}</p>
            <h8 class="card-title mb2 text-muted">{{movie.genre}}</h8>
            
            <form action="/logs" method="POST">
                <legend>Add comment and log</legend>
                    <label class="form-label input-lg">Add comment</label>
                    <input
                        type="text"
                        name="logText"
                        placeholder="Enter a comment..."
                        class="form-control input-lg"
                        class="logText"
                        style="height: 15rem;"
                        >
                    <input 
                        class="hidden"
                        name="releaseYear"
                        value="{{movie.year}}"  
                        >
                    <input
                        class="hidden"
                        name="movieTitle"
                        value="{{movie.title}}"
                        >
                    <input
                        class="hidden"
                        name="imdbId"
                        value="{{movie.imdbId}}"
                        >
                    <input
                        class="hidden"
                        name="dateLogged"
                        value="{{ "now" | date: "%Y-%m-%d" }}"
                        >
                    <input
                        class="hidden"
                        name="poster"
                        value="{{movie.poster}}"
                        >
                <input type="submit" value="Add to log" class="btn btn-success">
            </form>
        </div>
        
        {% endif %}
        
        {%- comment -%} ternary result if result if not don't {%- endcomment -%}
    
</div>
{% endblock %}