{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ log.movieTitle }} 

        </h2>
           <img src="{{ log.poster}}" alt="a poster for the movie {{log.movieTitle}}">
           {{ log.releaseYear }}
           <p>
            {%for item in log.comment%}
                {{item.note}}
            {%endfor%}
            </p>
        {% if log.owner == userId %}
        <div class="btn-group">

            <a href="/logs/{{ log.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/logs/{{ log.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}